.dropdown {
  .dropdown-button {
    padding: 0 20px;
    cursor: pointer;
    outline: none;
    text-align: right;

    .total {
      font-size: 2.2em;
      margin-right: 5px;
    }

    .total-label {
      color: #ABB8C2;
      font-size: 1em;
      margin-right: 15px;
    }

    .arrow-down {
      @extend .fa, .fa-angle-down;
      color: #ABB8C2;
      font-size: 20px;
      position: relative;
      text-decoration: none;
      box-sizing: border-box;
      font-family: FontAwesome !important;
    }
  }

  .dropdown-list {
    list-style: none;
    opacity: 0;
    visibility: hidden;
    width: 250px;
    max-height: 500px;
    padding: 10px 0;
    color: #FFFFFF;
    background-color: $focus-color;
    border: 1px solid $focus-color;
    right: 0;
    position: absolute;
    overflow: auto;
    overflow-x: hidden;

    li {
      width: 100%;
      display: block;
      padding: 3px 0;
      text-align: right;

      &:hover {
        color: $focus-color;
        background-color: #FFFFFF;
      }

      a {
        width: 100%;
        display: block;
        padding: 0 15px;
        text-decoration: none;

        &:hover {
          color: $focus-color;
        }
      }
    }
  }

  &:hover,
  &:focus-within {
    .dropdown-button {
      background-color: $focus-color;

      .total,
      .total-label,
      .arrow-down {
        color: #FFFFFF;
      }
    }

    .dropdown-list {
      visibility: visible;
      opacity: 1;

      &:hover {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
