.footer {
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: $black;

  .copyright {
    display: block;
    color: $white;
    text-align: center;

    a {
      color: $white;
    }

    a:hover {
      color: $accented;
    }
  }
}
