.footer {
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: $enclosing-background;

  .copyright {
    display: block;
    color: $foreground;
    text-align: center;
    font-family: "Lato";

    a {
      color: $enclosing-foreground;
    }

    a:hover {
      color: $accented;
    }
  }
}
