.top-border {
  border-top: 8px solid $accented;
}

.header {
  width: 100%;
  background-color: $enclosing-background;

  .banner {
    padding: 10px 0;
    text-align: center;

    div {
      margin: 0 auto;

      .title {
        color: $enclosing-foreground;
        display: block;
        margin: 0;
        padding: 0;
        font-family: "Amatic SC";

        &:hover {
          color: $accented;
        }
      }

      .subtitle {
        color: $foreground;
        display: block;
        margin-top: -5px;
        font-family: "Lato";
      }
    }
  }

  .banner-desktop {
    height: 200px;

    div {
      width: 500px;
      padding: 30px;

      .title {
        font-size: 80px;
      }

      .subtitle {
        font-size: 15px;
      }
    }
  }

  .banner-mobile {
    height: 100px;

    div {
      .title {
        font-size: 55px;
      }

      .subtitle {
        font-size: 15px;
      }
    }
  }
}
