.top-border {
  border-top: 8px solid $accented;
}

.header {
  width: 100%;
  color: $white;
  padding: 10px;
  background-color: $black;

  a {
    color: inherit;
  }

  .title {
    color: inherit;
    font-size: 30px;
    font-family: "Amatic SC";

    &:hover {
      color: $accented;
      cursor: pointer;
    }
  }

  .page {
    padding: 0 20px;

    &:hover {
      color: $accented;
      cursor: pointer;
    }
  }
}
