.latest-entries {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;

  .entry {
    width: 100%;
    color: $foreground;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
    text-transform: lowercase;
    border: 1px solid #E2E4E7;

    h2 {
      width: 100%;
      display: block;
      text-transform: uppercase;
      border-bottom: 1px solid #E2E4E7;
    }
  }
}
