.menubar {
  margin: 30px 0;
  display: block;

  .container {
    padding: 0 10px;
  }

  nav {
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .menu {
    text-transform: uppercase;
    color: $foreground;
    margin-right: 50px;
    font-size: 17px;
    font-weight: bold;
    font-family: "Lato";

    &:hover {
      cursor: pointer;
      color: $accented;
    }
  }

  .search {
    color: $foreground;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: $accented;
    }
  }
}
