.snippet {
  height: 25px;
  text-align: right;
  padding-right: 10px;
  background-color: #86B300;

  a {
    color: #FAFAFA;
    text-decoration: none;
  }

  a:hover {
    color: #B30086;
  }
}

.post {
  padding: 30px;
  margin-bottom: 20px;
  background-color: $post-background;

  h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .metadata {
    margin-bottom: 25px;

    > * {
      display: block;
      font-size: 13px;
    }

    .item {
      i {
        @extend .fa;
        width: 20px;
        font-family: FontAwesome !important;
      }

      span {
        font-size: 13px;
        color: #6E7580;
        vertical-align: middle;
      }
    }

    .date {
      @extend .item;
      i { @extend .fa-calendar; }
    }

    .reading-time {
      @extend .item;
      i { @extend .fa-clock-o; }
    }

    .category {
      @extend .item;
      i { @extend .fa-folder-o };
    }

    .tags {
      @extend .item;
      i { @extend .fa-tags };
      span { margin-right: 10px; }
    }
  }
}
