.search-results {
  padding: 0;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;

  ul {
    margin-top: 20px;
    list-style-type: none;
    background-color: #FFFFFF;

    li {
      list-style: none;

      border-left-width: 10px;
      border-left-style: solid;

      &.snippet {
        border-left-color: #86B300;
      }

      &.post {
        border-left-color: #A37ACC;
      }

      &.guide {
        border-left-color: #E6B673;
      }

      &.snippet:hover {
        background-color: rgba(134, 179, 0, 0.5);
      }

      &.post:hover {
        background-color: rgba(163, 122, 204, 0.5);
      }

      &.guide:hover {
        background-color: rgba(90, 71, 45, 0.5);
      }

      &.first {
        margin-top: 10px;
      }

      a {
        color: inherit;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 10px;

        &:hover {
          color: #FFFFFF;
          text-decoration: none;
        }
      }

      &:not(:last-child) a {
        border-bottom: 1px dashed #D9D8D7;
      }

      .title {
        display: block;
        width: 100%;
      }

      .date {
        display: bloc;
        font-size: 10px;
      }
    }
  }
}
