@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.search-panel {
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  border-bottom: 2px solid #EEEEEE;
  background-color: $search-background;

  &.focused {
    border-bottom: 2px solid $focus-color;
  }

  &.error {
    border-color: $error-color;
    background-color: $error-background;
    transform: translate3d(0, 0, 0);
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  }

  .search-box {
    border: 0;
    width: calc(100% - 40px);
    height: 50px;
    font-size: 2em;
    outline: none;
    color: $focus-color;
    background-color: $search-background;

    &.error {
      background-color: $error-background;
    }

    &::placeholder {
      color: #EEEEEE;
    }

    &.focused::placeholder {
      opacity: 0;
    }

    &.error::placeholder {
      color: $error-color;
    }
  }

  .search-indicator {
    @extend .fa, .fa-search;
    width: 40px;
    color: #EEEEEE;
    text-align: right;
    font-size: 2em;
    margin-top: 8px;
    font-family: FontAwesome !important;

    &.focused {
      color: $focus-color;
    }

    &.error {
      color: $error-color;
    }
  }
}
