.summary {
  width: 100%;
  height: 60px;
  color: $foreground;
  background-color: $white;
  text-align: center;
  border-bottom: 1px solid #D9D8D7;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
    }
  }
}
