.post-totals {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(66% + 17px);
  height: 53px;
  padding: 0 30px;
  border-bottom: 1px solid #E2E4E7;

  &.light {
    color: #657786;
    background-color: #FFFFFF;
    transition: all 0.5s ease-out;
  }

  &.dark {
    color: #FFFFFF;
    background-color: #657786;
    transition: all 0.5s ease-out;
  }

  .totals {
    float: left;

    .total {
      font-size: 2.2em;
      margin-right: 5px;
    }

    .total-label {
      color: #ABB8C2;
      font-size: 1em;
    }
  }

  .buttons {
    float: right;

    > ul {
      list-style: none;

      > li {
        float: left;
      }
    }
  }

  @media screen and (max-width: $break-sm) {
    position: relative;
    width: 100%;

    .totals {
      display: none;
    }
  }

  @media screen and (min-width: $break-md) and (max-width: $break-lg) {
    width: calc(66% + 8px);
  }

  @media screen and (min-width: $break-lg) and (max-width: $break-xl) {
    width: calc(66% + 10px);
  }
}
