.post-list {
  padding: 70px 30px 10px 30px;

  @media screen and (max-width: $break-md) {
    padding-top: 20px;
  }
}

.load-container {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;

  .load-more {
    width: 150px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    color: #FFFFFF;
    background-color: $focus-color;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &:hover {
      background-color: $accented-color;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }
}
