.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.page {
  padding: 0 !important;
  background-color: $white-background;
}

.sidepanel {
  padding: 0 !important;
  background-color: $black-background;

  @media screen and (min-width: $break-sm) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33%;
  }
}

.sidepanel-item {
  color: #F5F5F5;
  text-align: right;
  border-bottom: none;
  background-color: $black-background;

  margin: 0;
  padding: 11em 4em !important;

  @media screen and (max-width: $break-sm) {
    text-align: center;
    padding: 2em !important;
  }
}

.mainpanel {
  padding: 0 0 0 calc(33%);

  @media screen and (max-width: $break-sm) {
    padding: 0 !important;
  }
}
