$fa-font-path: '~font-awesome/fonts';

@import url(//fonts.googleapis.com/css?family=Amatic+SC);
@import "~font-awesome/scss/font-awesome";

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$primary: #FF6A00;
$background: #FAFAFA;

@import "~bulma";
