$fa-font-path: '~font-awesome/fonts';

@import url(//fonts.googleapis.com/css?family=Amatic+SC);
@import url(//fonts.googleapis.com/css?family=Lato);
@import "~font-awesome/scss/font-awesome";

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$tag: #55B4D4;
$entity: #399EE6;
$accented: #FF6A00;
$enclosing-foreground: #FAFAFA;
$enclosing-background: #2A2A2A;

$foreground: #ABB0B6;
$background: #212723;

body {
  font-family: "Lato" !important;
}

@import "~bulma";
