$fa-font-path: '~font-awesome/fonts';

@import url(//fonts.googleapis.com/css?family=Amatic+SC);
@import "~font-awesome/scss/font-awesome";

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$accented: #FF6A00;
$foreground: #6E7580;
$background: #E6ECF0;

@import "~bulma";
