$break-xs: map-get($grid-breakpoints, "xs");
$break-sm: map-get($grid-breakpoints, "sm");
$break-md: map-get($grid-breakpoints, "md");
$break-lg: map-get($grid-breakpoints, "lg");
$break-xl: map-get($grid-breakpoints, "xl");

$error-color: #F51818;
$accented-color: #FF6A00;
$secondary-color: #55B4D4;
$ternary-color: #4CBF99;
$focus-color: #399EE6;
$title-color: #414347;
$error-background: #FDD0D0;
$black-background: #212733;
$white-background: #F0F0F0;
$post-background: #FFFFFF;
$search-background: #FFFFFF;
